doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(charset='utf-8')
		title Fruits à coque - Boulangérie de Lucioles
		link(rel='stylesheet', href='/w3.css')
	body

		header(class='w3-red')
			h1 Fruits à coque


		section

			ul
				each val,index in nuts
					li= val